.stocks-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  overflow: auto;
}

.mat-table {
  margin-left: 5%;
  margin-right: 5%;
}

.mat-table .mat-cell.mat-column-id, .mat-header-cell.mat-column-id {
  max-width: 50px;
}

.mat-table .mat-cell.mat-column-quantity, .mat-header-cell.mat-column-quantity {
  max-width: 100px;
}

.mat-table .mat-cell.mat-column-sell, .mat-header-cell.mat-column-sell {
  min-width: 280px;
}

.mat-table .mat-cell.mat-column-market, .mat-header-cell.mat-column-market {
  min-width: 300px;
  max-width: 300px;
}

.app-overall-stocks-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #3f51b5;
  font-weight: 500;
  font-stretch: normal;
  font-size: 20px;
  line-height: 32px;
}

.app-overall-stocks-price mat-icon {
  margin-right: 10px;
}
